#tableS{
	margin-top: 10px;	 
	border-collapse: separate;
	border-spacing: 5px;
	font-family: sans-serif;
	text-align: center;
	background: #ece9e0;
	border: 1px solid black;
	width: 100%;
}
body{
	background: #cbdfef;
}
h1{
	text-align: center;
	font-family: sans-serif;
	color: #000000;
	padding-bottom: 10px;
}
#divBut{
	text-align: center;
     background-color: #FFF;
}
.divBut input{
    background-color: #000000;
    border: none;
    color: #FFF;
    font-size: 13px;
    font-family: sans-serif;
    border-radius: 15px;
    padding: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.divBut input:hover{
    background-color: #C55656;
}
.div2{
	display: flex;
  	justify-content: center;
  	padding: 10px;  
}
th{
	font-size: 18px;
	padding: 5px;
}
td{
	padding: 5px;
}
.myName{
	font-family: sans-serif;
	text-align: right;
	font-size: 20px;
}
